.game-team{
    font-size: 80px;
}

.information-one-game{

    color: black;
    background-image:url("../imagenes/design1_image1.jpg");
   height: 1000px;
   display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
   
   
}
